@import "common.scss";
.top{
  width: 100%;
  height: 430*$pcw;
  background: url(../img/about-top.png) top no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.top-bottom{
  margin: 0 auto;
  position: relative;
  top: -128*$pcw;
  width: 997*$pcw;
  height: 256*$pcw;
  background-color: #F2F0E8;
  padding: 80*$pcw 60*$pcw;
  display: flex;
  justify-content: space-between;
  color: #434343;
  &-copy{
    width: 270*$pcw;
    font-size: 32*$pcw;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-family: Avenir;
  }
  &-content{
    width: 486*$pcw;
    font-size: 20*$pcw;
    line-height: 2;
    font-weight: bold;
    font-family:  "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic;
  }
}
.point{
  margin: 0 90*$pcw 195*$pcw;
  @include bp{
    margin: 0 60*$spw 60*$spw;
  }
  .title{
    @include bp{
      text-align: center;
    }
    &-name{
      display: inline-block;
      font-size: 36*$pcw;
      font-family: Avenir;
      padding-right: 35*$pcw;
      padding-bottom: 20*$pcw;
      border-bottom: 4*$pcw solid;
      border-image: linear-gradient(to right, #C07C59 0%, #AB5683 100%);
      border-image-slice: 1;
      @include bp{
        font-size: 32*$spw;
        font-weight: bold;
        padding: 5*$spw 10*$spw;
        border-bottom: 4*$spw solid;
      }
    }
    &-copy{
      font-size: 20*$pcw;
      font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, Avenir;
      margin-top: 38*$pcw;
      @include bp{
        font-size: 18*$spw;
        line-height: 1.8;
        font-weight: bold;
      }
    }
  }
  &-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60*$pcw;
    &-p{
      width: 470*$pcw;
      font-size: 14*$pcw;
      font-weight: bold;
      line-height: 1.8;
      color: #474747;
      @include bp{
        width: 100%;
        font-size: 12*$spw;
      }
    }
  }
}
.office-wrapper{
  background-color: #F2F2F2;
  padding: 117*$pcw 197*$pcw 133*$pcw;
  @include bp{
    padding:  30*$spw 60*$spw 90*$spw;
  }
}
.office{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &-left{
    width: 360*$pcw;
    @include bp{
      width: 100%;
      text-align: center;
      order: 2;
      margin-top: 50*$spw;
    }
    .data{
      font-size: 36*$pcw;
      font-family: Avenir;
      @include bp{
        font-size: 32*$spw;
        font-weight: bold;
      }
    }
    .info{
      margin-top: 53*$pcw;
      @include bp{
        margin-top: 40*$spw;
      }
      li{
        font-size: 20*$pcw;
        font-family: bold;
        margin-top: 27*$pcw;
        color: #505050;
        font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, Avenir;
        @include bp{
          font-size: 16*$spw;
          margin-top: 16*$spw;
        }
      }
    }
  }
  &-right{
    width: 445*$pcw;
    @include bp{
      width: 100%;
      text-align: center;
      margin-top: 30*$spw;
      order: 1;
    }
  }
}
#map{
  margin-top: 0;
}
