@import "common.scss";

.top{
  height: 630*$pcw;
  background: url(../img/service-top.png) center no-repeat;
  background-size: cover;
}

.blog{
  margin: 126*$pcw 91*$pcw 0;
  @include bp{
    margin:30*$spw 29*$spw 0 ;
  }
  .title{
    @include title-font-pc;
  }
  &-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-li{
      width: 335*$pcw;
      margin-top: 50*$pcw;
      @include bp{
         width: 147*$spw;
      }
      .blog-image{
        max-width: 335*$pcw;
        max-height: 231*$pcw;
        height: 231*$pcw;
        width: auto;
        object-fit: cover;
        display: block;
        margin: auto;
        @include bp{
          max-width: 150*$spw;
          max-height: 103*$spw;
          height: 103*$spw;
          width: auto;
        }
      }
      .blog-time{
        margin-top: 10*$pcw;
        width: 261*$pcw;
        @include content-font-pc;
        @include bp{
           width: 100%;
        }
      }
      .blog-title{
        margin-top: 13*$pcw;
        width: 261*$pcw;
        font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic;
        font-size: 20*$pcw;
        color: #5B5C5C;
        @include bp{
           width: 100%;
        }
      }
      .blog-content{
        margin-top: 13*$pcw;
        width: 261*$pcw;
        @include content-font-pc;
        @include bp{
           width: 100%;
        }
      }
    }
  }
}
.btn-wrapper{
  text-align: center;
  margin-top: 135*$pcw;
  .next{
    &-page{
      border: 1*$pcw solid #707070;
      display: inline-block;
      margin: 0 5*$pcw;
      &:hover{
        border: 3*$pcw solid #707070;
      }
      a{
        display: block;
        font-size: 16*$pcw;
        padding: 16*$pcw 20*$pcw;
        font-family: Avenir;
        font-weight: bold;
        color: #1D1D1D;
      }
      .selected{
        background-color: #1D1D1D;
        color: #fff;
      }
    }
  }
}
