@import "common.scss";
.blog-wrapper{
  margin: 82*$pcw 282*$pcw 72*$pcw;
  .blog{
    .midashi{
      .blog-image{
        max-width: 717*$pcw;
        max-height: 494*$pcw;
        width: auto;
        height: 494*$pcw;
        margin: 40*$pcw auto 0;
      }
      .blog-time{
        @include content-font-pc;
        font-family: Avenir;
      }
      .blog-title{
        margin-top: 20*$pcw;
        font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic;
        font-size: 32*$pcw;
        line-height: 1.8;
        color: #5B5C5C;
      }
    }
    .blog-content{
      margin-top: 13*$pcw;
      @include content-font-pc;
    }
    .naka {
      color: #343434;
      font-size: 32*$pcw;
      margin-top: 55*$pcw;
      padding: 1em 0;
      border-top: solid 3*$pcw #707070;
      border-bottom: solid 3*$pcw #707070;
    }
    .text{
      margin-top: 55*$pcw;
      @include content-font-pc;
    }
    .ko-midashi{
      margin-top: 85*$pcw;
      font-size: 20*$pcw;
      padding: 20*$pcw 23*$pcw 20*$pcw 0;
      color: #343434;
      background-color: #F2F2F2;
    }
    .ko-text{
      margin-top: 55*$pcw;
      @include content-font-pc;
    }
    .bottom{
      text-align: center;
      &-image{
        width: 409*$pcw;
        max-width: 409*$pcw;
        margin: 90*$pcw auto 0;
        @include bp{
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
.recently{
  margin: 0 90*$pcw;
  &-h4{
    margin-top: 185*$pcw;
    font-size: 20*$pcw;
    @include bp{
      font-size: 20*$spw;
    }
  }
  .blog-box{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &-li{
        width: 335*$pcw;
        margin-top: 50*$pcw;
        @include bp{
          margin-top: 40*$spw;
          width: 100%;
        }
        .blog-image{
          max-width: 335*$pcw;
          max-height: 231*$pcw;
          width: auto;
          height: 231*$pcw;
          object-fit: cover;
          margin: 0 auto;
          display: block;
          @include bp{
            width: auto;
            height: 217*$spw;
            max-width: 315*$spw;
            max-height: 217*$spw;
          }
        }
        .blog-time{
          margin-top: 10*$pcw;
          width: 261*$pcw;
          @include content-font-pc;
          @include bp{
            width: 100%;
          }
        }
        .blog-title{
          margin-top: 13*$pcw;
          width: 261*$pcw;
          font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic;
          font-size: 20*$pcw;
          color: #5B5C5C;
          @include bp{
            width: 100%;
          }
        }
        .blog-content{
          margin-top: 13*$pcw;
          width: 261*$pcw;
          @include content-font-pc;
          @include bp{
            width: 100%;
          }
        }
      }
    }
}
