@charset "UTF-8";

$pc: 1280px;//PC
$bp: 660px;//ブレークポイント

$pcw:(100vw/1280);
$spw:(100vw/375);


//ブレークポイントのメディアクエリ
@mixin bp {
  @media (max-width: ($bp)) {
    @content;
  }
}
//タイトルPCフォント
@mixin title-font-pc{
  font-size: 48*$pcw;
  font-family: Avenir;
  color: #A4ABB0;
  text-align: center;
  font-weight: bold;
}
//タイトルSPフォント
@mixin title-font-sp{

}
//説明文フォント
@mixin content-font-pc{
  font-size: 16*$pcw;
  line-height: 1.8;
  font-family: "游ゴシック体", YuGothic;
  color: #A4ABB0;
}
//説明文SPフォント
@mixin content-font-sp{

}
//ボタンのCSS
@mixin btn-css{
  background-color: #364D6A;
  border-radius: 35*$pcw;
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 50*$pcw auto;
  &:hover{
    opacity: 0.8;
    transition: 0.3s;
  }
}
.blog-wrapper{
  margin: 82*$pcw 282*$pcw 72*$pcw;
  .blog{
    .midashi{
      .blog-image{
        max-width: 717*$pcw;
        max-height: 494*$pcw;
        width: auto;
        height: 494*$pcw;
        margin: 40*$pcw auto 0;
      }
      .blog-time{
        @include content-font-pc;
        font-family: Avenir;
      }
      .blog-title{
        margin-top: 20*$pcw;
        font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic;
        font-size: 32*$pcw;
        line-height: 1.8;
        color: #5B5C5C;
      }
    }
    .blog-content{
      margin-top: 13*$pcw;
      @include content-font-pc;
    }
    .naka {
      color: #343434;
      font-size: 32*$pcw;
      margin-top: 55*$pcw;
      padding: 1em 0;
      border-top: solid 3*$pcw #707070;
      border-bottom: solid 3*$pcw #707070;
    }
    .text{
      margin-top: 55*$pcw;
      @include content-font-pc;
    }
    .ko-midashi{
      margin-top: 85*$pcw;
      font-size: 20*$pcw;
      padding: 20*$pcw 23*$pcw 20*$pcw 0;
      color: #343434;
      background-color: #F2F2F2;
    }
    .ko-text{
      margin-top: 55*$pcw;
      @include content-font-pc;
    }
    .bottom-image{
      width: 409*$pcw;
      max-width: 409*$pcw;
      margin: 90*$pcw auto 0;
    }
  }
}
.recently{
  margin: 0 90*$pcw;
  &-h4{
    margin-top: 185*$pcw;
    font-size: 20*$pcw;
  }
  .blog-box{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &-li{
        width: 335*$pcw;
        margin-top: 50*$pcw;
        .blog-image{
          max-width: 335*$pcw;
          max-height: 231*$pcw;
          width: auto;
          height: 231*$pcw;
          margin: 0 auto;
          display: block;
        }
        .blog-time{
          margin-top: 10*$pcw;
          width: 261*$pcw;
          @include content-font-pc;
        }
        .blog-title{
          margin-top: 13*$pcw;
          width: 261*$pcw;
          font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic;
          font-size: 20*$pcw;
          color: #5B5C5C;
        }
        .blog-content{
          margin-top: 13*$pcw;
          width: 261*$pcw;
          @include content-font-pc;
        }
      }
    }
}
  .contact{
    margin-top: 80*$pcw;
    padding: 150*$pcw 0 70*$pcw;
    background-color: #FAFAFA;
    &-p{
      text-align: center;
      font-size: 20*$pcw;
      font-family:  "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic;
    }
    .btn{
      @include btn-css
      background-color: #202037;
      width: 520*$pcw;
      height: 110*$pcw;
      border-radius: 55*$pcw;
      &-radius{
        display: inline-block;
        color: #fff;
        margin: 35*$pcw auto;
        font-size: 35*$pcw;
        font-family: Avenir;
      }
    }
  }
