@charset "UTF-8";

$pc: 1280px;//PC
$bp: 660px;//ブレークポイント

$pcw:(100vw/1280);
$spw:(100vw/375);


//ブレークポイントのメディアクエリ
@mixin bp {
  @media (max-width: ($bp)) {
    @content;
  }
}
//タイトルPCフォント
@mixin title-font-pc{
  font-size: 48*$pcw;
  font-family: Avenir;
  color: #A4ABB0;
  text-align: center;
  font-weight: bold;
  @include bp{
    font-size: 24*$spw;
  }
}
//説明文フォント
@mixin content-font-pc{
  font-size: 16*$pcw;
  line-height: 1.8;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic;
  color: #A4ABB0;
  @include bp{
    font-size: 12*$spw;
    font-weight: bold;
  }
}
//ボタンのCSS
@mixin btn-css{
  background-color: #364D6A;
  border-radius: 35*$pcw;
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 50*$pcw auto;
  @include bp{
    font-size: 16*$spw;
    width: 313*$spw;
    height: 70*$spw;
    border-radius: 35*$spw;
    margin-top: 55*$spw;
  }
  &:hover{
    opacity: 0.8;
    transition: 0.3s;
  }
}
.clearfix::after {
  content: "";
  display: block;
  clear: left;
}

.body{
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, Avenir;
}
.header{
  background-color: #FAFAFA;
  @include bp{
    display: none;
  }
}
.header-wrapper{
  height: 110*$pcw;
  margin:auto 95*$pcw;
  .logo{
    display: inline-block;
    float: left;
    margin: 45*$pcw auto;
    width: 194*$pcw;
    height: 19*$pcw;
    max-width: 194*$pcw;
    max-height: 19*$pcw;
    a{
      color:#444444;
    }
  }
  .nav-menu{
    &-item{
      float: right;
      display: inline-block;
      margin-left: 54*$pcw;
      margin-top: 45*$pcw;
      font-size: 16*$pcw;
      font-family: Avenir;
      color:#444444;
    }
  }
}
.page{
  background-color: #202037;
  &-title{
    font-size: 48*$pcw;
    padding: 114*$pcw 537*$pcw;
    text-align: center;
    color: #fff;
    letter-spacing: 0.15em;
    font-weight: bold;
    font-family: Avenir;
    @include bp{
    font-size: 42*$spw;
    padding: 25*$spw;
    }
  }
}

#map{
  width: 100%;
  height: 410*$pcw;
  margin: 150*$pcw auto 0;
  @include bp{
    margin-top: 175*$spw;
    height: 407*$spw;
  }
}

.contact{
  margin: 161*$pcw auto 101*$pcw;
  @include bp{
    margin: 95*$spw auto 200*$spw;
  }
  &-p{
    text-align: center;
    font-size: 20*$pcw;
    line-height: 1.8;
    font-family:  "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic;
    @include bp{
      font-size: 20*$spw;
    }
  }
  .btn{
    @include btn-css
    background-color: #202037;
    width: 520*$pcw;
    height: 110*$pcw;
    border-radius: 55*$pcw;
    &-radius{
      display: inline-block;
      color: #fff;
      margin: 35*$pcw auto;
      font-size: 32*$pcw;
      font-weight: bold;
      @include bp{
        margin: 24*$spw auto;
        font-size: 16*$spw;
      }
    }
  }
}
.footer{
  height: 146*$pcw;
  background-color: #202037;
  @include bp{
    height: 155*$spw;
  }
}
@media screen and (min-width: 660px) {
  .sp_br{
    display: none;
  }
}
