@import "common.scss";

.menu{
  border-bottom: 1px solid #202037;
  display: flex;
  justify-content: center;
  &-box{
    text-align: center;
    width: 30%;
    &-p{
      margin-top: 30*$pcw;
      font-size: 24*$pcw;
      font-weight: bold;
    }
    &-arrow{
      display: block;
      font-size: 24*$pcw;
      margin: 15*$pcw auto;
      color: #212138;
    }
  }
}
//title部分のcss
.title{
  height: 77*$pcw;
  font-size: 24*$pcw;
  font-weight: bold;
  &-no{
    display: inline-block;
    color: #fff;
    background-color: #202037;
    padding: 25*$pcw;
  }
  &-name{
    display: inline-block;
    padding-left: 38*$pcw;
  }
}

#it{
  margin: 108*$pcw 30*$pcw 0;
  .komon{
    margin-top: 41*$pcw;
    font-size: 20*$pcw;
    font-weight: bold;
  }
  .info{
    margin-top: 41*$pcw;
    font-size: 14*$pcw;
    font-weight: bold;
  }
  .it-table{
    margin-top: 50*$pcw;
    tr{
      th{
        font-size: 14*$pcw;
        padding-bottom: 12*$pcw;
        text-align: left;
        border-bottom: 9*$pcw solid #202037;
      }
      td{
        height: 47*$pcw;
        &:first-child{
          width: 578*$pcw;
          background-color: #F2F2F2;
          border: 1*$pcw solid #202037;
        }
        &:nth-child(2){
          width: 268*$pcw;
          border: 1*$pcw solid #202037;
        }
        &:last-child{
          width: 359*$pcw;
          border: 1*$pcw solid #202037;
        }
      }
    }
  }
}
#biza{
  margin: 108*$pcw 30*$pcw 0;
  .info{
    margin-top: 41*$pcw;
    font-size: 14*$pcw;
    font-weight: bold;
  }
  .biza-table{
    margin-top: 50*$pcw;
    tr{
      th{
        font-size: 14*$pcw;
        padding-bottom: 12*$pcw;
        text-align: left;
        border-bottom: 9*$pcw solid #202037;
      }
      td{
        height: 47*$pcw;
        &:first-child{
          width: 578*$pcw;
          border: 1*$pcw solid #202037;
        }
        &:nth-child(2){
          width: 268*$pcw;
          border: 1*$pcw solid #202037;
        }
        &:last-child{
          width: 359*$pcw;
          border: 1*$pcw solid #202037;
        }
      }
      &:nth-child(2n+3){
        background-color: #F2F2F2;
      }
    }
  }
}
#minpaku{
  margin: 108*$pcw 30*$pcw 0;
  .sinse{
    margin-top: 41*$pcw;
    font-size: 20*$pcw;
    font-weight: bold;
    line-height: 1.8;
  }
}
