@import "common.scss";
.top{
  height: 430*$pcw;
  width: 100%;
  background: url(../img/service-top.png) top no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.service{
  margin: 159*$pcw 94*$pcw 100*$pcw;
  &-plan{
    display: flex;
    justify-content: space-between;
    margin-top: 116*$pcw;
    flex-wrap: wrap;
    @include bp{
      margin-top: 80*$spw;
    }
    &-left{
      width: 533*$pcw;
      @include bp{
        width: 100%;
      }
      //title部分のcss
      .title{
        font-size: 24*$pcw;
        font-weight: bold;
        &-no{
          display: inline-block;
          color: #fff;
          font-family: Avenir;
          background-color: #202037;
          padding: 25*$pcw;
          @include bp{
            font-size: 20*$spw;
            padding: 15*$spw;
          }
        }
        &-name{
          display: inline-block;
          padding-left: 38*$pcw;
          @include bp{
            font-size: 24*$spw;
            padding: 10*$spw auto;
            text-align: center;
            width: 206*$spw;
          }
        }
      }
      &-p{
        font-size: 17*$pcw;
        line-height: 2;
        color:#888888;
        margin-top: 30*$pcw;
        @include bp{
          font-size: 12*$spw;
        }
      }
    }
    &-right{
      width: 477*$pcw;
      padding: 65*$pcw 65*$pcw 55*$pcw;
      background-color: #F2F0E8;
      @include bp{
        width: 100%;
        margin-top: 30*$spw;
      }
      .ser-name{
        text-align: center;
        font-size: 20*$pcw;
        color: #202037;
        @include bp{
          font-size: 16*$spw;
        }
        &::before{
          content: "“";
          font-size: 56*$pcw;
          color: #888888;
          vertical-align: middle;
          margin: 0 30*$pcw;
        }
        &::after{
          content: "”";
          font-size: 56*$pcw;
          color: #888888;
          vertical-align: middle;
          margin: 0 20*$pcw;
        }
      }
      .ser-info{
        font-size: 14*$pcw;
        color: #888888;
        margin-top: 54*$pcw;
        @include bp{
          font-size: 14*$spw;
        }
        li{
          margin-top: 16*$pcw;
          @include bp{
            margin-top: 24*$spw;
          }
        }
      }
      .btn{
        @include btn-css
        @include bp{
          width: auto;
        }
        a{
          display: block;
          padding: 30*$pcw 70*$pcw;
          color: #fff;
          font-size: 16*$pcw;
          font-weight: bold;
          @include bp{
            padding: 24*$spw 70*$spw;
            font-size: 16*$spw;
          }
        }
      }
    }
  }
}
