@import "common.scss";

.top{
  height: 750.44*$pcw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include bp{
    height: 463*$spw;
  }
  &-logo{
    position: absolute;
    top: 247*$pcw;
    left: 131 *$pcw;
    width: 715.48*$pcw;
    height: auto;
    @include bp{
      top: 156*$spw;
      left: 17*$spw;
      width: 312*$spw;
    }
  }
  &-comment{
    position: absolute;
    top: 441*$pcw;
    left: 131*$pcw;
    font-size: 20*$pcw;
    color: #fff;
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic;
    font-weight: bold;
    @include bp{
      top: 256*$spw;
      left: 17*$spw;
      font-size: 16*$spw;
      width: 238*$spw;
      line-height: 1.8;
      order: 2;

    }
  }
}
.top-bottom{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include bp{
    margin: 36*$spw 35*$spw 0;
  }
  &-left{
    position: relative;
    top: -110*$pcw;
    width: 637*$pcw;
    padding: 96*$pcw 101*$pcw 67*$pcw;
    background: -moz-linear-gradient(top, #364D6A, #599DC0);
    background: -webkit-linear-gradient(top, #364D6A, #599DC0);
    background: linear-gradient(to bottom, #364D6A, #599DC0);
    color: #fff;
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic;
    @include bp{
      width: 100%;
      top: 0;
      order: 1;
      background: none;
      padding: 47*$spw 0;
      margin-top: 25*$spw;
      border-top: 10*$spw solid #202037;
    }
    .support-caption{
      font-size: 24*$pcw;
      font-weight: bold;
      line-height: 1.8;
      @include bp{
        text-align: left;
        font-size: 23*$spw;
        font-weight: bold;
        color: #333333;
      }
    }
    .support-info{
      font-size: 16*$pcw;
      line-height: 1.8;
      @include bp{
        margin-top: 70*$spw;
        font-size: 12*$spw;
        font-weight: bold;
        color: #333333;
      }
    }
  }
  &-right{
    height: 290*$pcw;
    width: 637*$pcw;
    text-align: center;
    padding: 87*$pcw 50*$pcw 0;
    @include bp{
      width: 100%;
      text-align: left;
      padding: 0;
      font-size: 20*$spw;
      font-weight: bold;
    }
    .title{
      font-family: Avenir;
      font-size: 24*$pcw;
      color: #364D6A;
      @include bp{
        text-align: left;
        font-size: 20*$spw;
        font-weight: bold;
      }
    }
    .news-table{
      border-collapse: separate;
      border-spacing: 20*$pcw 0;
      line-height: 2;
      margin: 61*$pcw auto 0;
      text-align: left;
      color:#1C1C1C;
      .date{
        font-size: 16*$pcw;
        font-family: Avenir;
        @include bp{
          font-size: 12*$spw;
        }
      }
      .content{
        font-family: "ヒラギノ角ゴ Pro W3";
        font-size: 16*$pcw;
        @include bp{
          font-size: 12*$spw;
        }
      }
    }
  }
}
.service{
  margin: 126*$pcw 91*$pcw 0;
  @include bp{
    margin: 80*$spw 29*$spw 0;
  }
  .title{
    @include title-font-pc;
  }
  &-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 43*$pcw;
    @include bp{
      margin-top: 32*$spw;
    }
    .box{
      width: 336*$pcw;
      @include bp{
        width: 100%;
        &:nth-child(n+2){
          margin-top: 60*$spw;
        }
      }
      &-image{
        width: 100%;
        height: auto;
        max-width: 335*$pcw;
        max-height: 231*$pcw;
        object-fit: cover;
        @include bp{
          width: 315*$spw;
          height: 217*$spw;
          max-width: 315*$spw;
          max-height: 217*$spw;
        }
      }
      &-fig{
        position: relative;
        font-weight: bold;
        top: -28*$pcw;
        left: 15*$pcw;
        background-color: #fff;
        border: 3px solid #2C334B;
        display: inline-block;
        @include bp{
          top: -24*$spw;
          left: 15*$spw;
        }
        &-no{
          display: inline-block;
          color: #fff;
          background-color: #202037;
          font-family: Avenir;
          padding: 16*$pcw 20*$pcw;
          font-size: 20*$pcw;
          @include bp{
            font-size: 20*$spw;
            padding: 15*$spw;
          }
        }
        &-name{
          display: inline-block;
          padding: 11*$pcw auto;
          font-size: 24*$pcw;
          text-align: center;
          width: 206*$pcw;
          @include bp{
            font-size: 24*$spw;
            padding: 10*$spw auto;
            text-align: center;
            width: 206*$spw;
          }
        }
      }
      &-p{
        @include content-font-pc;
        width: 293*$pcw;
        margin: 0 auto;
        @include bp{
          width: 100%;
        }
      }
    }
  }
  .btn{
    @include btn-css;
    font-size: 16*$pcw;
    width: 298*$pcw;
    height: 69*$pcw;
    &-radius{
      margin: 27*$pcw auto;
      display: inline-block;
      color: #fff;
      @include bp{
        margin: 24*$spw auto;
      }
    }
  }
}
.blog{
  margin: 126*$pcw 91*$pcw 0;
  @include bp{
    margin:176*$spw 29*$spw 0 ;
  }
  .title{
    @include title-font-pc;
  }
  &-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-li{
      width: 335*$pcw;
      margin-top: 50*$pcw;
      @include bp{
         width: 147*$spw;
      }
      .blog-image{
        max-width: 335*$pcw;
        max-height: 231*$pcw;
        height: 231*$pcw;
        width: auto;
        object-fit: cover;
        display: block;
        margin: auto;
        @include bp{
          max-width: 150*$spw;
          max-height: 103*$spw;
          height: 103*$spw;
          width: auto;
        }
      }
      .blog-time{
        margin-top: 10*$pcw;
        width: 261*$pcw;
        @include content-font-pc;
        @include bp{
           width: 100%;
        }
      }
      .blog-title{
        margin-top: 13*$pcw;
        width: 261*$pcw;
        font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic;
        font-size: 20*$pcw;
        color: #5B5C5C;
        @include bp{
           width: 100%;
        }
      }
      .blog-content{
        margin-top: 13*$pcw;
        width: 261*$pcw;
        @include content-font-pc;
        @include bp{
           width: 100%;
        }
      }
    }
  }
  .btn{
    @include btn-css;
    font-size: 16*$pcw;
    width: 298*$pcw;
    height: 69*$pcw;
    &-radius{
      display: inline-block;
      margin: 27*$pcw auto;
      color: #fff;
      @include bp{
        margin: 24*$spw auto;
      }
    }
  }
}
